{% extends 'base.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock %}

{% block content %}  

<div class="clbl"></div> 
<div class="line"></div> 
<div class="recipe">
{{ flatpage.content }} 
<p class="p-print"><a href="javascript:window.print()"><img src="{{ STATIC_URL }}img/print.png" alt="Drukuj"/> 
Drukuj &nbsp;</a></p>                              
<br/>
</div>
<div class="clbl"></div>       
 
<p class="p-comments">Komentarze</p>  
<div class="fb-comments" data-href="{{ request.META.HTTP_HOST }}{{ request.get_full_path }}" data-num-posts="3" data-width="500"></div>

{% endblock %}
