<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
<link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/muffin.png" /> 
<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" charset="utf-8" />   
<link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" type="text/css" media="print" />    
<!-- Google Analytics script -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23833759-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>  
</head>
<body>    
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=443353275687373";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<div class="main">    
	<div class="container">
	    <img src="{{ STATIC_URL }}img/logo_print.png" class="hidden"> 
		<a href="http://muffiny.net"><img src="{{ STATIC_URL }}img/logo.png" alt="logo muffiny.net" class="logo"/></a>   
		<div class="fb">
		<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Fmuffinynet%2F207290645972780&amp;width=200&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=true&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:62px;" allowTransparency="true"></iframe>
		</div> 
		<div class="line"></div>  
		                          
		
		<!-- header -->  
<img src="{{ STATIC_URL }}img/beza.png">
		<!-- end of header -->
		
{% block content %}{% endblock %} 

<div class="line"></div>
<div id="footer"><a href="/contact/">Kontakt</a> &nbsp; / &nbsp; Muffiny.net © 2011 /
	<a href="http://www.djangoproject.com/"><img style="vertical-align: bottom; border: 0" src="{{ STATIC_URL }}img/djangosite.png" alt="A Django site." title="A Django site." /></a></div>
	</div>
</div>

</body>
</html>
